/* You can add global styles to this file, and also import other style files */

body{
    background-color: #EFEFEF;
}

.card-header {
    background-color: #0a351c;  
    border-top-left-radius: 10px !important;  
    border-top-right-radius: 10px !important;  
}

.card, .card-body, .card-footer{    
    border-radius: 10px !important;
}

