<div class="container">
  <div class="row my-5 ml-5">
    <div class="col-4">
      <img class="center-block img-responsive" src="../../assets/siu-02.png" [style.height.px]="120"
        [style.margin.px]="2">
    </div>
    <div class="col-8">

      <h4 class="card-title text-center">Consulta de precios del mercado</h4>
      <p class="text-center card-text">COORDINACIÓN DE PROCESO GESTIÓN COMPRAS</p>
      <p class="text-center card-text">Gestión compras y contratación</p>
      <p class="text-center card-text">Administración SIU</p>
    </div>
  </div>


  <form novalidate [formGroup]="consultaForm" (ngSubmit)="save()">



    <div class="card mb-5 mx-5 shadow-lg">
      <div class="card-header text-white">
        <p class="font-weight-bold text-center" [style.font-size.px]="20">Consulta de precios</p>
      </div>
     


      <div class="card-body px-5 py-5">
        <div class="row">
          <p>En calidad de empleado de la Universidad de Antioquia, y en cumplimiento del Artículo 31 Capítulo 1 Título IV de la Resolución Rectoral 39475, Acuerdo Superior 419 de 2014; que consagra la obligación de consignar por escrito las cotizaciones obtenidas para la adquisición de bienes y servicios, informo que requiero contratar lo siguiente:</p>
  
        </div>
        <div class="row">

          <div class="form-group col-md-3 mb-3">
            <label for="fechaId" class="col-form-label"><b>Fecha:</b></label>
  
            <input id="fechaId" class="form-control" readonly [value]="solicitud?.fecha | date">
  
  
          </div>
  
          
            <div class="form-group col-md-9 mb-3">
              <label for="descripcionId" class="col-form-label"><b>Descripción del objeto del contrato:</b></label>
  
              <textarea id="descripcionId" class="form-control" rows="5" disabled [value]="consulta.solicitud.descripcion"></textarea>
            </div>
  
          
        </div>
  
        <b>Hemos consultado con las siguientes personas naturales y/o jurídicas, el valor del mismo así:</b>
          <hr>
        <div class="table-responsive">
          <table class="table mb-5">
              <thead class="thead-dark">
                  <tr>
                      <th>Nr</th>
                      <th>Nombre del proveedor</th>
                      <th>Teléfono</th>
                      <th>Nit/Cédula</th>
                      <th>Valor precotizado</th>                      
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let precotizacion of consulta.solicitud.precotizaciones; let i=index">
                      <th scope="row">{{i+1}}</th>
                      <td>{{precotizacion.proveedor.nombre}}</td>
                      <td>{{precotizacion.proveedor.telefono}}</td>
                      <td>{{precotizacion.proveedor.nit}}</td>
                      <td>{{precotizacion.valor}}</td>
                  </tr>
              </tbody>
          </table>
      </div>
      <hr>
      <div class="row" formGroupName="precotizacion">
        <div class="col-md-7">De acuerdo con las cotizaciones recibidas, se decide contratar con:</div>
        <div class="col-md-5" >
          <select class="form-control" id="idPrecotizacionId" formControlName="idPrecotizacion" (change)="update($event.target.value)">
            <option [value]="precotizacion.idPrecotizacion" *ngFor="let precotizacion of solicitud.precotizaciones">
              {{precotizacion.proveedor.nombre}}</option>
            </select>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-6 mb-3">
          <label for="descripcionId" class="col-form-label"><b>Por valor de:</b></label>
          <input id="identificacionId" type="text" class="form-control" type="text" readonly [(ngModel)]="valor" [ngModelOptions]="{standalone: true}">                            
          
        </div>
        <div class="col-md-6">
          <label for="identificacionId" class="col-form-label"><b>Porque:</b></label>
                <textarea rows="2" id="identificacionId" type="text" class="form-control" type="text" formControlName="porque"> </textarea>                          
        </div>
      </div>

        <div class="row">
          <div class="form-group col-12 mb-3">
            <label for="descripcionId" class="col-form-label"><b>Observaciones:</b></label>

            <textarea id="descripcionId" class="form-control" rows="5" disabled [value]="consulta.solicitud.observacion"></textarea>
          </div>

        </div>

        <div class="row">
          <div class="col-md-6 mb-3 form-group">                          
                <label class="col-form-label" for="idGrupoId"><b>Grupo de investigacion:</b></label>                
                <input id="grupoId" class="form-control" readonly [value]="consulta.solicitud.grupo.nombre"> 
          </div>

          <div class="mb-3 col-md-6 form-group">                          
                <label class="col-form-label" for="investigadorNombreId"><b>Nombre del investigador:</b></label>                
                <input id="investigadorNombreId" class="form-control" readonly [value]="consulta.solicitud.investigador.nombre"> 
          </div>
        </div>

          <div class="row">                              
   
              <div class="mb-3 col-md-6 form-group"> 
                <label for="identificacionId" class="col-form-label"><b>Número de identificacion:</b></label>
                <input id="identificacionId" type="text" class="form-control" type="text" readonly [value]="consulta.solicitud.investigador.identificacion">                            
              </div>                                    
            
              <div class="mb-3 col-md-6 form-group">                          
                  <label for="telefonoId" class="col-form-label"><b>Número de telefono:</b> </label>
                  
                    <input id="telefonoId" type="text" class="form-control" type="text" readonly [value]="consulta.solicitud.investigador.telefono">
                  </div>

                  
                            
            </div>   


      </div>




    </div>





<div class="form-group row">
  <div class="offset-md-1 mb-5">
    <button class="btn btn-success mr-3" style="width:200px;" type="submit">
      Enviar
    </button>
    <button class="btn btn-outline-secondary mr-3" style="width:100px;" type="button" title="Cancelar"
              [routerLink]="['/consulta']">
              Cancelar
            </button>
  </div>
</div>

</form>
</div>

<pre>
  {{consultaForm.value | json}}
</pre>
