
<p-card header="Consulta"  styleClass="p-card-shadow">

    <div class="p-field-radiobutton" 
         *ngFor="let consulta of consultas">
        <p-radioButton name="consulta" [value]="consulta" 
                       [(ngModel)]="consultaSelected" 
                       [inputId]="'Consulta' + consulta.id">
                    </p-radioButton>
        <label [for]="'Consulta' + consulta.id">{{consulta.descripcion}}</label>
    </div>
  
    <ng-template pTemplate="footer">
        <p-button label="Activar" 
                [disabled]="consultaSelected.parametro === 1"
                (click)="updateSelected(consultaSelected)"
                class="mr-3">
      </p-button>
      <button pButton pRipple label="Editar" 
              icon="pi pi-pencil" 
              class="p-button-warning p-mr-2" 
              (click)="openNew(consultaSelected)"></button>
      <button pButton pRipple 
              icon="pi pi-plus" 
              class="p-button-success p-mr-2" 
              (click)="openNew()"></button>
    </ng-template>
</p-card>

<p-dialog [(visible)]="consultaDialog" [style]="{width: '450px'}" 
          header="Acuerdo" [modal]="true" styleClass="p-fluid">
  
  <ng-template pTemplate="content">
    <form [formGroup]="consultaForm" novalidate>
      <div class="p-field">
          <label for="descripcion">Descripcion:</label>
          <textarea id="descripcion" pInputTextarea 
          formControlName="descripcion" rows="3" cols="20">
        </textarea>
          <small class="p-invalid" 
          *ngIf="submitted || 
          consultaForm.get('descripcion').errors?.required">
          Descripcion es obligatoria.
        </small>
      </div>
    </form>
    </ng-template>
    
    <ng-template pTemplate="footer">      
      <button pButton pRipple label="Cancel" icon="pi pi-times" 
      class="p-button-text" (click)="hideDialog()"></button>
      <button pButton 
      [disabled]="consultaForm.get('descripcion').invalid" 
      pRipple label="Save" icon="pi pi-check" class="p-button-text" 
      (click)="saveConsulta()"></button>
      <button *ngIf="consultaForm.get('id').value != 0" pButton pRipple 
      label="Delete" icon="pi pi-trash" class="p-button-text" 
      (click)="deleteConsulta()"></button>
    </ng-template>
  
</p-dialog>


