<form novalidate [formGroup]="usuarioForm">
    <div class="card mb-5 mx-5 shadow-lg">
        <div class="card-header text-white">
            <p class="font-weight-bold text-center" [style.font-size.px]="20">Registro de usuarios</p>
        </div>
        <div class="card-body px-5 py-5">

            <div class="p-fluid p-formgrid p-grid">
                <div class="p-field p-col-12 p-md-6">
                    <label for="nombreUsuario"><strong>Nombre:<strong class="text-danger">*</strong></strong></label>
                    <input id="nombreUsuario" pInputText type="text" formControlName="nombre" class="form-control"
                        [ngClass]="{'is-invalid ng-dirty': 
                                        (usuarioForm.get('nombre').touched ||
                                        usuarioForm.get('nombre').dirty) && 
                                        !usuarioForm.get('nombre').valid}">
                    <span class="invalid-feedback">
                        <span *ngIf="usuarioForm.get('nombre').errors?.required">
                            Por favor seleccione un tipo de trámite.
                        </span>
                    </span>

                </div>



                <div class="p-field p-col-12 p-md-6">
                    <label for="cargoUsuario"><strong>Cargo:<strong class="text-danger">*</strong></strong></label>
                    <input id="cargoUsuario" pInputText type="text" formControlName="cargo" class="form-control"
                        [ngClass]="{'is-invalid ng-dirty': 
                                                                (usuarioForm.get('cargo').touched ||
                                                                usuarioForm.get('cargo').dirty) && 
                                                                !usuarioForm.get('cargo').valid}">
                    <span class="invalid-feedback">
                        <span *ngIf="usuarioForm.get('cargo').errors?.required">
                            Por favor ingrese un nombre de contacto.
                        </span>
                    </span>
                </div>

                <div class="p-field p-col-12 p-md-6">

                    <label for="emailUsuario"><strong>Email:<strong class="text-danger">*</strong></strong></label>
                    <input id="emailUsuario" pInputText type="text" formControlName="email" class="form-control"
                        [ngClass]="{'is-invalid ng-dirty': 
                                                (usuarioForm.get('email').touched ||
                                                usuarioForm.get('email').dirty) && 
                                                !usuarioForm.get('email').valid}">
                    <span class="invalid-feedback">
                        <span *ngIf="usuarioForm.get('email').errors?.required">
                            Por favor ingrese un nombre de contacto.
                        </span>
                    </span>

                </div>
                <div class="p-field p-col-12 p-md-6">

                    <label for="passwordUsuario"><strong>Password:<strong
                                class="text-danger">*</strong></strong></label>
                    <input id="passwordUsuario" pInputText type="text" formControlName="password" class="form-control"
                        [ngClass]="{'is-invalid ng-dirty': 
                                                        (usuarioForm.get('password').touched ||
                                                        usuarioForm.get('password').dirty) && 
                                                        !usuarioForm.get('password').valid}">
                    <span class="invalid-feedback">
                        <span *ngIf="usuarioForm.get('password').errors?.required">
                            Por favor ingrese un nombre de contacto.
                        </span>
                    </span>

                </div>


                <div class="p-field p-col-12">
                    <div class="p-d-flex p-jc-between">
                        <div>
                            <label for="nombre" class="col-form-label"><b>Roles</b></label>
                        </div>
                        <div>
                            <button class="btn-outline-success btn" type="button" (click)="addTag()">
                                Agregar
                            </button>
                        </div>
                    </div>
                </div>
                <div class="p-field p-col-12">


                    <div formArrayName="roles" *ngFor="let especifica of roles.controls; let i=index">
                        <div class="mb-3">
                            <div class="p-grid p-jc-center form-group row">

                                <div class="p-col-4">
                                    <div class="box">
                                        <p-dropdown [options]="rolOptions" [formControlName]="i"
                                            placeholder="Seleccione tipo" inputId="tipo">
                                        </p-dropdown>

                                    </div>
                                </div>
                                <div class="p-col-2">
                                    <div class="box">

                                        <button class="btn btn-outline-warning form-control" type="button"
                                            title="Delete this search linea" (click)="deleteTag(i)">delete
                                        </button>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>

                <div class="p-field p-col-12">
                    <label for="files" class="col-form-label"><b>Firma digital:</b></label>
                    <p-fileUpload name="files" chooseLabel="Elegir" [showUploadButton]="false"
                        (onSelect)="onFileSelected($event)"></p-fileUpload>
                </div>
                <div class="p-field p-col-12">
                    <div *ngIf="usuario">
                        <button class="btn btn-outline-primary btn-sm" (click)="toggleImage()">
                            {{loadImage ? "Ocultar" : "Mostrar"}} Firma
                        </button>
                        <div *ngIf="loadImage">
                            <img [src]="url" [style.height.px]="250" [style.margin.px]="2" alt="firma"
                                *ngIf="loadImage && url">
                        </div>
                    </div>
                </div>
            </div>



        </div>
    </div>
</form>



<div class="form-group row">
    <div class="offset-md-1 mb-5">
        <button class="btn btn-success mr-3" style="width:200px;" type="submit" (click)="saveUser()"
            [title]="usuarioForm.valid ? 'Save your entered data' : 'Disabled until the form data is valid'"
            [disabled]="!usuarioForm.valid">
            Enviar
        </button>
        <button class="btn btn-outline-secondary mr-3" style="width:100px;" type="button" title="Cancelar"
            routerLink="/usuario">
            Cancelar
        </button>
        <button class="btn btn-outline-warning" style="width:90px" type="button" title="Borrar solicitud"
            (click)="deleteUser()">
            Borrar
        </button>
    </div>
</div>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>

<pre>

    {{usuarioForm.value | json}}
</pre>