body{
    overflow: hidden;
    font-family: 'Muli', sans-serif;
    font-weight: 300;
    color: #111B54;
}

.bg-primary {
    background-color: #111B54 !important;
}

a:hover {
    text-decoration: none;
}

#sidebar-container{
    min-height: 100vh;
}

#sidebar-container .logo{
    padding: .875rem 1.25rem;
}

#sidebar-container .menu{
    width: 18rem;
}
