<div class="p-grid">
  <div class="p-col-12 p-lg-4">
    <img class="center-block img-responsive" src="../../assets/siu-02.png" [style.height.px]="120" [style.margin.px]="2"
      width="100%" alt="Logo imagen">
  </div>
  <div class="p-col-12 p-lg-8">

    <h4 class="card-title text-center">ESTUDIO PREVIO DE NECESIDAD Y CONVENIENCIA PARA CUANTIAS MENORES O IGUALES A
      30 SMMLV</h4>
    <p class="text-center card-text">Universidad de Antioquia</p>
  </div>
</div>
<form [formGroup]="estudioForm">
  <div class="card mb-5 mx-5 shadow-lg">
    <div class="card-header text-white">
      <p class="font-weight-bold text-center" [style.font-size.px]="20">Informacion de estudio</p>
    </div>
    <div class="card-body px-5 py-5">
      <div class="p-fluid p-formgrid p-grid">
        <div class="p-field p-col-12 p-lg-6">
          <label for="fecha"><strong>Fecha:</strong></label>
          <p-calendar formControlName="_fecha" inputId="fecha"></p-calendar>
        </div>
        <div class="p-field p-col-12 p-lg-6">
          <label for="centroCostos"><b>Centro de costos:</b></label>
          <input pInputText id="centroCostos" type="text" formControlName="_centroCostos">
        </div>

        <div class="p-field p-col-12">
          <label for="unidadAcademicaId"><strong>Unidad Académica o Administrativa</strong></label>
          <p-dropdown [options]="unidadesAcademicas"
                                    placeholder="Seleccione unidad academica" 
                                    formControlName="unidadAcademica"
                                    inputId="unidadAcademicaId"
                                    optionLabel="descripcion"
                                    dataKey="id"
                                    [ngClass]="{'is-invalid ng-dirty': 
                                              (estudioForm.get('unidadAcademica').touched || 
                                              estudioForm.get('unidadAcademica').dirty) && 
                                              !estudioForm.get('unidadAcademica').valid}"
                                    ></p-dropdown>
          <span class="invalid-feedback">
            <span *ngIf="estudioForm.get('unidadAcademica').errors?.required">
                Por favor seleccione una unidad academica.
            </span>
          </span> 
        </div>

        <div class="p-field p-col-12 ">
          <label for="nombre"><strong>Necesidad y Conveniencia de la contratación:</strong></label>
          <textarea id="nombre" pInputTextarea formControlName="_necesidad" type="text" rows="5"></textarea>
        </div>

        <div class="p-field p-col-12 ">
          <p><strong>Descripcion del objeto del contrato</strong></p>
        </div>

        <p-table [value]="detalleTramiteDtos.controls" styleClass="p-datatable-responsive-demo" class="p-field">
          <ng-template pTemplate="header">
            <tr>
              <th>Linea General</th>
              <th>Linea Especifica</th>
              <th>Descripcion</th>
              <th>Cantidad</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" formArrayName="_detalleTramiteDtos" let-detail let-rowIndex="rowIndex">
            <tr [formGroupName]="rowIndex">
              <td>
                <input pInputText formControlName="_lineaGeneral" type="text">
              </td>
              <td>
                <input pInputText formControlName="_lineaEspecifica" type="text">
              </td>
              <td>
                <textarea pInputTextarea type="text" rows="5" formControlName="_descripcion"></textarea>
              </td>
              <td>
                <input pInputText type="text" formControlName="_cantidad">
              </td>
            </tr>
          </ng-template>
        </p-table>

        <div class="p-field p-col-12 ">
          <p><strong>Condición del responsable de la contratación</strong></p>
        </div>

        <div class="p-field p-col-12 p-lg-6">
          <p><strong>Competente:</strong></p>
          <span>{{estudio.director.name}}</span>
        </div>
        <div class="p-field p-col-12 p-lg-6">
          <p><strong>Acuerdo: </strong></p>
          <input pInputText id="centroCostosId" type="text" formControlName="_acuerdo">
        </div>

        <div class="p-field p-col-12">
          <label for="valor"><strong>VALOR O PRESUPUESTO ESTIMADO:</strong></label>
          <input pInputText id="valor" type="text" formControlName="_valor">
        </div>

        <div class="p-field p-col-12">
          <label><strong>VERIFICACIÓN DE CONTRATOS MARCO O ACUERDOS GENERALES PARA EL SERVICIO, OBRA O BIEN
              REQUERIDO:</strong></label>
          <div class="p-formgroup-inline">
            <div class="p-field-radiobutton">
              <p-radioButton value="si" formControlName="_verificacion" inputId="si"></p-radioButton>
              <label for="si">Si existe</label>
            </div>
            <div class="p-field-radiobutton">
              <p-radioButton value="no" formControlName="_verificacion" inputId="no"></p-radioButton>
              <label for="no">No existe</label>
            </div>
          </div>
        </div>


        <!-- Firma de los usuarios -->
        <div class="p-col-12 p-lg-6">
            <button *ngIf="isUserSignable()" pButton pRipple type="button" label="Firmar" (click)="signUser()" class="p-button-raised"></button>
              <img [src]="urlUser" [style.height.px]="250" [style.margin.px]="2" alt="firma"
                                *ngIf="urlUser">
                                <br><br>
                                <div *ngIf="estudio.firmaUsuario">

                                  <span>{{estudio.solicitud.user.name}}</span>
                                  <br>
                                  <span>{{estudio.solicitud.user.position}}</span>
                                </div>
        </div>

        <!-- Firma del director -->
        <div class="p-col-12 p-lg-6">
            <button *ngIf="isDirectorSignable()" pButton pRipple type="button" label="Firmar" (click)="signDirector()" class="p-button-raised"></button>
              <img [src]="urlDirector" [style.height.px]="250" [style.margin.px]="2" alt="firmaDirector" *ngIf="urlDirector">
              <br><br>
              <div *ngIf="estudio.firmaDirector">

                <span>{{estudio.director.name}}</span>
                <br>
                <span>{{estudio.director.position}}</span>
              </div>
        </div>
      </div>
    </div>
  </div>
</form>

<div class="form-group row">
  <div class="offset-md-1 mb-5">
    <button class="btn btn-outline-secondary mr-3" style="width:100px;" type="button" title="Cancelar"
      routerLink="/estudio">
      Atrás
    </button>
  </div>
</div>
