<p-toast></p-toast>
<div class="card">
    <div class="card-header text-white">
        <h2>
            {{titulo}}
        </h2>
    </div>
    <div class="card-body">
        <p-table [value]="estudios">
            <ng-template pTemplate="header">
                <tr>                
                    <th>
                    </th>
                    <th>Estado de estudio</th>
                    <th>Nombre investigador</th>
                    <th>Nombre proyecto</th>
                    <th>Autor</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-estudio>
                <tr>                
                    <td style="text-align: center;">
                        <button type="button" pButton pRipple 
                        class="p-button-secondary p-button-rounded p-mr-2"
                        title="ver/editar"
                        icon="pi pi-pencil"
                        [routerLink]="['/estudio', estudio.id, 'editar']"></button>
                        <button pButton pRipple type="button" *ngIf="estudio.estado.estadoNombre === 'FIRMADO'"
                        icon="pi pi-check-square" class="p-button-rounded p-mr-2" 
                        title="verificar documentos"
                        (click)="verifyDocument(estudio.id)"></button>
                    </td>
                    <td><div *ngIf="estudio.estado.estadoNombre === 'CREADA'">
                        <span class="badge badge-secondary">{{estudio.estado.estadoNombre}}</span>
                    </div>
                    <div *ngIf="estudio.estado.estadoNombre === 'FIRMADA'">
                        <span class="badge badge-success">{{estudio.estado.estadoNombre}}</span>
                    </div>{{estudio.estado.estadoNombre}}
                </td>
                    <td>{{estudio.solicitud.grupoInvestigador.investigador.nombre}}</td>
                    <td>{{estudio.solicitud.grupoInvestigador.proyecto.nombre}}</td>                                               
                    <td>{{estudio.solicitud.user.name}}</td>                                               
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>
<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>