
    <div class="card">
        <div class="card-header text-white">
            <h2>
                {{titulo}}
            </h2>
        </div>
        <div class="card-body">
            <p-table [value]="consultas">
                <ng-template pTemplate="header">
                    <tr>                
                        <th>
                        </th>
                        <th>Estado de constula</th>
                        <th>Nombre investigador</th>
                        <th>Nombre proyecto</th>
                        <th>Autor</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-consulta>
                    <tr>                
                        <td style="text-align: center;">
                            <button type="button" pButton pRipple 
                            class="p-button-secondary p-button-rounded p-mr-2"
                            title="ver/editar"
                            icon="pi pi-pencil"
                            [routerLink]="['/consulta', consulta.id, 'editar']"></button>
                            <button pButton pRipple type="button" *ngIf="consulta.estado.estadoNombre === 'CREADA'"
                                icon="pi pi-check-square" class="p-button-rounded p-mr-2" 
                                title="verificar documentos"
                                (click)="verifyDocument(consulta.id)"></button>
                        </td>
                        <td><div *ngIf="consulta.estado.estadoNombre === 'CREADA'">
                            <span class="badge badge-secondary">{{consulta.estado.estadoNombre}}</span>
                        </div>
                        <div *ngIf="consulta.estado.estadoNombre === 'DILIGENCIADA'">
                            <span class="badge badge-success">{{consulta.estado.estadoNombre}}</span>
                        </div></td>
                        <td>{{consulta.solicitud.grupoInvestigador.investigador.nombre}}</td>
                        <td>{{consulta.solicitud.grupoInvestigador.proyecto.nombre}}</td>                                               
                        <td>{{consulta.solicitud.user.name}}</td>                                               
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
