
    <div class="card">
        <div class="card-header text-white">
            <h2>
                {{titulo}}

            </h2>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-2">Buscar por estado:</div>
                <div class="col-md-4">
                    <input type="text" [(ngModel)]="filtrar">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h4>Filtrado por: {{filtrar}}</h4>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            #
                        </th>
                        <th>estado</th>

                        <th>Solicitud de Tramite</th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let consulta of filtrados; let i=index">
                        <td>
                            {{(i+1)}}
                        </td>
                        <td>
                            <div *ngIf="consulta.estado.nombre === 'CREADA'">
                                <span class="badge badge-secondary">{{consulta.estado}}</span>
                            </div>
                            <div *ngIf="consulta.estado.nombre === 'DILIGENCIADA'">
                                <span class="badge badge-success">{{consulta.estado}}</span>
                            </div>
                        </td>

                        <td>{{consulta.solicitud.tipoTramite}}</td>
                        <td><button class="btn btn-outline-secondary btn-sm"
                                [routerLink]="['/consulta', consulta.id, 'editar']">
                                Editar
                            </button></td>



                    </tr>
                </tbody>
            </table>
        </div>
    </div>
