
      <div class="p-grid">
        <div class="p-col-12 p-lg-5">
          <img class="center-block img-responsive" src="../../assets/siu-02.png" [style.height.px]="120"
            [style.margin.px]="2" width="100%" alt="Logo imagen">
        </div>
        <div class="p-col-12 p-lg-7">
    
          <h4 class="card-title text-center">SOLICITUD DE TRÁMITE PARA COMPRAS INFERIORES A 30 SMMLV</h4>
          <p class="text-center card-text">COORDINACIÓN DE PROCESO ADMINISTRACIÓN DE PROYECTOS</p>
          <p class="text-center card-text">Administración de Proyectos de Investigación y Extensión</p>
          <p class="text-center card-text">Administración SIU</p>
        </div>
      </div>
 
    <br>
    
      <p-steps [model]="items"  [readonly]="false"></p-steps>
    
  <br>
  
   <router-outlet></router-outlet>

   <p-dialog [(visible)]="emailDialog" [style]="{width: '600px'}"
          header="Email" [modal]="true" styleClass="p-fluid">
          <ng-template pTemplate="content">
              <form [formGroup]="emailForm" novalidate>

                <div class="row">
                  <div class="col-12 mb-3 form-group">
                    <label for="cuerpo" class="col-form-label"><b>Observaciones:</b></label>            
                      <textarea id="cuerpo" pInputTextarea formControlName="cuerpo"
            type="text" rows="5"
            [ngClass]="{'is-invalid': (emailForm.get('cuerpo').touched || emailForm.get('cuerpo').dirty) && !emailForm.get('cuerpo').valid}"></textarea>
                    <span class="invalid-feedback">
                      <span *ngIf="emailForm.get('cuerpo').errors?.required">
                        Por favor ingrese sus observaciones.
                      </span>
                    </span>
                    
                  </div>
                </div>
              </form>
          </ng-template>

          <ng-template pTemplate="footer">      
            <button pButton pRipple label="Cancel" icon="pi pi-times" 
            class="p-button-text" (click)="hideDialog()"></button>
            <button pButton 
            [disabled]="emailForm.invalid" 
            pRipple label="Save" icon="pi pi-check" class="p-button-text" 
            (click)="enviarEmail()"></button>
          </ng-template>
</p-dialog>

    <div class="form-group row">
      <div class="offset-md-1 mb-5">
        <button class="btn btn-success mr-3" style="width:200px;" type="button" (click)="saveSolicitud()"
          [title]="solicitudForm.valid ? 'Save your entered data' : 'Disabled until the form data is valid'"
          [disabled]="!solicitudForm.valid">
          Enviar
        </button>
        <button class="btn btn-outline-secondary mr-3" style="width:100px;" type="button" title="Cancelar"
          routerLink="/solicitud">
          Cancelar
        </button>
        <button class="btn btn-outline-warning mr-3" style="width:90px" type="button"
          title="Borrar solicitud" (click)="deleteSolicitud()">
          Borrar
        </button>
        <button class="btn btn-outline-primary"  type="button"
          *ngIf="solicitud && solicitud.estado.estadoNombre == 'CREADA' && rol == 'ROLE_ADMIN'"
          title="Enviar correo"
          (click)="openNew()">
          Enviar Correo para observaciones
        </button>
      </div>
    </div>

    <pre>

      {{solicitudForm.value | json}}
    </pre>
<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>