<form [formGroup]="solicitudForm">
<div class="card mb-5 mx-5 shadow-lg">
    <div class="card-header text-white">
      <p class="font-weight-bold text-center" [style.font-size.px]="20">Precotizaciones</p>
    </div>
    <div class="card-body px-5 py-5">
      <div class="p-fluid p-formgrid p-grid">
        <div class="p-field p-col-12">
          <strong>IMPORTANTE: Si tiene precotizaciones previas, por favor adjuntelas al ticket y diligencie el siguiente cuadro: </strong>
        </div>
        <p-table [value]="precotizacionDtos.controls" styleClass="p-datatable-responsive-demo" class="p-field">
          <ng-template pTemplate="header">
              <tr>
                  <th>Nombre del proveedor</th>
                  <th>Nit/Cédula</th>
                  <th>Teléfono</th>
                  <th>Ciudad</th>
                  <th>Valor total Precotizado</th>
                  <th>Valor total del IVA</th>
                  <th>Eliminar</th>
              </tr>
          </ng-template>
          <ng-template pTemplate="body" formArrayName="precotizacionDtos" let-precotizacion let-rowIndex="rowIndex">
              <tr [formGroupName]="rowIndex">                               
                  <td>                    
                    <span class="p-column-title">Proveedor<strong class="text-danger">*</strong></span>                        
                    <p-dropdown [options]="proveedores"
                    placeholder="Seleccione proveedor" optionLabel="nombre"
                    (onChange)="displayProveedor(precotizacion)"
                    formControlName="proveedor" 
                    [ngClass]="{'is-invalid ng-dirty': 
                          (precotizacion.get('proveedor').touched || 
                          precotizacion.get('proveedor').dirty) && 
                          !precotizacion.get('proveedor').valid}"></p-dropdown>                           
                  </td>
                  <td>
                    <span class="p-column-title">Nit/Cédula</span>
                    <input pInputText type="text" 
                    formControlName="_identificacion_proveedor">
                  </td>
                  <td>
                    <span class="p-column-title">Telefono</span>
                    <input pInputText type="text"
                    formControlName="_telefono_proveedor">
                  </td>
                  <td>
                    <span class="p-column-title">Ciudad</span>
                    <input pInputText type="text"
                    formControlName="_ciudad_proveedor">                    
                  </td>                  
                  <td>
                    <span class="p-column-title">Valor total<strong class="text-danger">*</strong></span>
                    <p-inputNumber inputId="valor_selected" mode="currency" 
                          currency="COP" locale="es-CO" formControlName="valorTotal"
                          [ngClass]="{'is-invalid ng-dirty': 
                          (precotizacion.get('valorTotal').touched || 
                          precotizacion.get('valorTotal').dirty) && 
                          !precotizacion.get('valorTotal').valid}">
                </p-inputNumber> 
                  </td>
                  <td>
                    <span class="p-column-title">Valor total del IVA<strong class="text-danger">*</strong></span>
                    <p-inputNumber inputId="valor_selected" mode="currency" 
                    currency="COP" locale="es-CO" formControlName="valorIva"
                    [ngClass]="{'is-invalid ng-dirty': 
                          (precotizacion.get('valorIva').touched || 
                          precotizacion.get('valorIva').dirty) && 
                          !precotizacion.get('valorIva').valid}">
          </p-inputNumber>                     
                </td>
                <td >                      
                  <button type="button" pButton pRipple class="p-button-warning p-mr-2" 
                          icon="pi pi-trash" *ngIf="rowIndex >= 1"
                          (click)="deletePrecotizacion(rowIndex)"></button>
                </td>
              </tr>
          </ng-template>
        </p-table>

        <div class="p-field p-col-6 p-offset-3">
          <button pButton type="button" label="Agregar Precotizacion" class="p-button-outlined p-button-success mx-2 my-2" style="width:200px;"
          (click)="addPrecotizacion()"></button>
          <button pButton type="button" label="Otro proveedor" class="p-button-outlined p-button-success mx-2 my-2" style="width:200px;"
          (click)="openNew()"></button>
        </div>

        <div class="p-field p-col-12 text-danger">
          <p>NOTA: Recuerde que la cotización a elegir será la más económica partiendo del principio de economía.
            En caso de seleccionar un proveedor por un concepto diferente, deberá justificar el por qué en el campo Observaciones..</p>
        </div>
        <div class="p-field p-col-12">
          <label for="nombre"><strong>De acuerdo con las cotizaciones recibidas, se decide contratar con:<strong class="text-danger">*</strong></strong></label>            
          <p-dropdown [options]="precotizacionDtos.controls"
                      placeholder="Seleccione proveedor" optionLabel="value.proveedor.nombre" dataKey="precotizacionElegida"                           
                      optionValue="value" formControlName="precotizacionDto" (onChange)="displayValorSelected()"
                      [ngClass]="{'is-invalid ng-dirty': 
                          (solicitudForm.get('precotizacionDto').touched || 
                          solicitudForm.get('precotizacionDto').dirty) && 
                          !solicitudForm.get('precotizacionDto').valid}"
                      ></p-dropdown>
          <span class="invalid-feedback">
          <span *ngIf="solicitudForm.get('precotizacionDto').errors?.required">
              Por favor seleccione una precotizacion.
          </span>
          </span> 

        </div>
        <div class="p-field p-col-12">
            <label for="valor_selected"><strong>por valor de:</strong></label>            
            <p-inputNumber inputId="valor_selected" mode="currency" 
                          currency="COP" locale="es-CO" formControlName="_valor_selected">
                </p-inputNumber> 
            <span class="invalid-feedback">
            <span>
                Por favor ingrese la necesidad.
            </span>
            </span> 
        </div>
        <p-table [value]="argumentoDtos.controls" styleClass="p-datatable-responsive-demo" class="p-field">
      <ng-template pTemplate="header">
          <tr>
              <th>Argumentos de la contratacion</th>
              <th>Eliminar</th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-argumento let-rowIndex="rowIndex" formArrayName="argumentoDtos">
          <tr [formGroupName]="rowIndex">
            <td>
              <span class="p-column-title">Descripcion<strong class="text-danger">*</strong></span>
              <p-dropdown [options]="argumentos"
                          placeholder="Seleccione argumento" optionLabel="descripcion"
                          optionValue="descripcion"
                          formControlName="descripcion"
                          [ngClass]="{'is-invalid ng-dirty': 
                                    (argumento.get('descripcion').touched || 
                                    argumento.get('descripcion').dirty) && 
                                    !argumento.get('descripcion').valid}"
                          editable="true"></p-dropdown>                
            </td>
            <td >                  
              <button type="button" pButton pRipple 
                      class="p-button-warning p-mr-2" 
                      icon="pi pi-trash" *ngIf="rowIndex >= 1"
                      (click)="deleteArgumento(rowIndex)"></button>
            </td>
          </tr>            
      </ng-template>
        </p-table>

        <div class="p-field p-col-6 p-offset-3">
          <button pButton type="button" 
                  label="Agregar otro argumento" 
                  class="p-button-outlined p-button-success"
                  (click)="addArgumento()"></button>
        </div>

        <div class="p-field p-col-12 ">
          <label for="nombre"><strong>Observaciones:</strong></label>            
          <textarea id="nombre" pInputTextarea formControlName="observacion"
            type="text" rows="5"></textarea>
        </div>

        <div class="p-field p-col-12">
          <label for="nombre"><strong>Tener en cuenta:</strong></label>      
          <p id="nombre">Esta información la utilizará la "Administración SIU" para diligenciar los formatos de "Estudio de Necesidad y 
            Conveniencia para Cuantías Menores o Iguales a 30 SMMLV" y "Consulta de Precios del Mercado" en cumplimiento del 
            Estatuto Contractual, formatos que estaban inicialmente bajo el diligenciamiento de los grupos de investigacion. 
            Por lo tanto, la información que se digite en el presente formato de SOLICITUD DE TRAMITE es la misma que se 
            utilizará para diligenciar los formatos correspondientes. En este sentido, cualquier error o inconsistencia será 
            responsabilidad de quien diligencie la información y no de la Administración SIU.</p>
        </div>



      </div>
      <div class="p-grid p-nogutter p-justify-between">
        <p-button label="Atras" [routerLink]="['../detalle']" icon="pi pi-angle-left"></p-button>
    </div>
    </div>
  </div>
</form>

<p-dialog [(visible)]="proveedorDialog" [style]="{width: '600px'}"
          header="Proveedor" [modal]="true" styleClass="p-fluid">
          <ng-template pTemplate="content">
              <form [formGroup]="proveedorForm" novalidate>
                <div class="row">
                    <div class="col-12 mb-3 form-group">
        
                      <label for="identificacion" class="col-form-label"><b>NIT / identificacion:</b></label>            
                      <input id="identificacion" class="form-control mb-3"
                      formControlName="identificacion"  rows="5" type="text"
                      [ngClass]="{'is-invalid': (proveedorForm.get('identificacion').touched || proveedorForm.get('identificacion').dirty) && !proveedorForm.get('identificacion').valid}">
                      <span class="invalid-feedback">
                        <span *ngIf="proveedorForm.get('identificacion').errors?.required">
                          Por favor ingrese la necesidad.
                        </span>
                      </span>
                      
                    </div>
                  </div>

                <div class="row">
                  <div class="col-12 mb-3 form-group">
                    <label for="tipo" class="col-form-label"><b>Tipo de Proveedor:</b></label>            
                    <p-dropdown [options]="tipoProveedores" formControlName="tipo" 
                    placeholder="Seleccione tipo" inputId="tipo"
                    [ngClass]="{'is-invalid': (proveedorForm.get('tipo').touched || proveedorForm.get('tipo').dirty) && !proveedorForm.get('tipo').valid}">
                  </p-dropdown>
                    <span class="invalid-feedback">
                      <span *ngIf="proveedorForm.get('tipo').errors?.required">
                        Por favor ingrese la necesidad.
                      </span>
                    </span>
                    
                  </div>
                </div>

                <div class="row">
                    <div class="col-12 mb-3 form-group">
        
                      <label for="nombre" class="col-form-label"><b>Nombre Proveedor:</b></label>            
                      <input id="nombre" class="form-control mb-3"
                      formControlName="nombre"  rows="5" type="text"
                      [ngClass]="{'is-invalid': (proveedorForm.get('nombre').touched || proveedorForm.get('nombre').dirty) && !proveedorForm.get('nombre').valid}">
                      <span class="invalid-feedback">
                        <span *ngIf="proveedorForm.get('nombre').errors?.required">
                          Por favor ingrese la necesidad.
                        </span>
                      </span>
                      
                    </div>
                  </div>

                <div class="row">
                    <div class="col-12 mb-3 form-group">
        
                      <label for="telefono" class="col-form-label"><b>Telefono Proveedor:</b></label>            
                      <input id="telefono" class="form-control mb-3"
                      formControlName="telefono"  rows="5" type="text"
                      [ngClass]="{'is-invalid': (proveedorForm.get('telefono').touched || proveedorForm.get('telefono').dirty) && !proveedorForm.get('telefono').valid}">
                      <span class="invalid-feedback">
                        <span *ngIf="proveedorForm.get('telefono').errors?.required">
                          Por favor ingrese la necesidad.
                        </span>
                      </span>
                      
                    </div>
                  </div>

                <div class="row">
                    <div class="col-12 mb-3 form-group">
        
                      <label for="ciudad" class="col-form-label"><b>Ciudad del Proveedor:</b></label>            
                      <input id="ciudad" class="form-control mb-3"
                      formControlName="ciudad"  rows="5" type="text"
                      [ngClass]="{'is-invalid': (proveedorForm.get('ciudad').touched || proveedorForm.get('ciudad').dirty) && !proveedorForm.get('ciudad').valid}">
                      <span class="invalid-feedback">
                        <span *ngIf="proveedorForm.get('ciudad').errors?.required">
                          Por favor ingrese la necesidad.
                        </span>
                      </span>
                      
                    </div>
                  </div>

                
              </form>
          </ng-template>

          <ng-template pTemplate="footer">      
            <button pButton pRipple label="Cancel" icon="pi pi-times" 
            class="p-button-text" (click)="hideDialog()"></button>
            <button pButton 
            [disabled]="proveedorForm.get('nombre').invalid" 
            pRipple label="Save" icon="pi pi-check" class="p-button-text" 
            (click)="saveProveedor()"></button>
          </ng-template>
</p-dialog>