<p-toast></p-toast>
<div class="row">
    <div class="col-4">
        <div class="p-grid p-flex-column">
            <div class="p-col">
                <pm-academica></pm-academica>
            </div>
            <div class="p-col">
                
                <pm-consulta></pm-consulta>
            </div>
        </div>
        
        
    </div>
    <div class="col-4">
        <div class="p-grid p-flex-column">
            <div class="p-col">
                
              
                <pm-acuerdo></pm-acuerdo>
            </div>
            <div class="p-col">
                
              
                <pm-necesidad></pm-necesidad>
            </div>
        </div>
        
    </div>
    <div class="col-4">
        <div class="p-grid p-flex-column">
            <div class="p-col">
                
              
                <pm-argumento></pm-argumento>
                
            </div>
            <div class="p-col">
                
              
                <pm-observacion></pm-observacion>
                
            </div>
        </div>

    </div>
</div>
<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
