<div class="card">
  <div class="card-header">
    <h2>{{title}}</h2>

  </div>
  <div class="card-body">

    <form novalidate [formGroup]="grupoForm" (ngSubmit)="saveGrupo()">


      <div class="form-group row mb-2">
        <label for="nombreId" class="col-md-2 col-form-label">Nombre proveedor </label>
        <div class="col-md-8">
          <input id="nombreId" class="form-control" type="text" placeholder="Ingrese el nombre" formControlName="nombre"
            [ngClass]="{'is-invalid': (grupoForm.get('nombre').touched || grupoForm.get('nombre').dirty) && !grupoForm.get('nombre').valid}">
          <span class="invalid-feedback">
            <span *ngIf="grupoForm.get('nombre').errors?.required">
              Por favor ingrese su nombre.
            </span>
            <span *ngIf="grupoForm.get('nombre').errors?.minlength">
              El nombre debe ser mayor de 3 letras.
            </span>
          </span>
        </div>
      </div>

      <div class="form-group row mb-2">
        <label for="codColId" class="col-md-2 col-form-label">CodCol</label>
        <div class="col-md-8">
          <input id="codColId" class="form-control" type="text" 
                placeholder="Ingrese el codCol" 
                formControlName="codCol"
            [ngClass]="{'is-invalid': (grupoForm.get('codCol').touched || grupoForm.get('codCol').dirty) && !grupoForm.get('codCol').valid}">
          <span class="invalid-feedback">
            <span *ngIf="grupoForm.get('codCol').errors?.required">
              Por favor ingrese el codCol.
            </span>
          </span>
        </div>
      </div>

      <div formArrayName="investigadores" *ngFor="let address of investigadores.controls; let i=index">
        <div [formGroupName]="i">          
          <div class="form-group row mb-2">
            <label class="col-md-2 col-form-label" attr.for="{{'idInvestigadorId' + i}}">IdInvestigador</label>
            <div class="col-md-3">
              <select class="form-control" id="{{'idInvestigadorId' + i}}" formControlName="idInvestigador">
                <option disabled selected hidden>Select a State...</option>
                <option value="{{investigador.idInvestigador}}" *ngFor="let investigador of investigadors">
                  {{investigador.nombre}}</option>
              </select>
            </div>
          </div>

        </div>
      </div>
      <div class="form-group row mb-2">
        <div class="col-md-4">
          <button class="btn-outline-primary btn" type="button" [disabled]="!investigadores.valid"
            (click)="addAddresses()">
            Add investigador
          </button>
        </div>
      </div>
      <div class="form-group row mb-2">
        <div class="offset-md-2 col-md-4">
          <button class="btn btn-primary mr-3" style="width:90px;" type="submit"
            [title]="grupoForm.valid ? 'Save your entered data' : 'Disabled until the form data is valid'">
            Enviar
          </button>
          <button class="btn btn-outline-secondary mr-3" style="width:90px;" type="button" title="Cancelar"
            [routerLink]="['/grupo']">
            Cancelar
          </button>
          <button class="btn btn-outline-warning" *ngIf="grupo.idGrupo != 0" style="width:90px" type="button"
            title="Borrar Grupo" (click)="deleteGrupo()">
            Borrar
          </button>
        </div>
      </div>

    </form>
  </div>
</div>
{{grupoForm.dirty}}: Dirty
<br>
{{grupoForm.valid}}: Valid
<br>
{{grupoForm.touched}}: touched
<br>
<h4>GrupoForm</h4>
<pre>

  {{grupoForm.value | json}}
</pre>
<br>
<h4>Grupo</h4>
<pre>

  {{grupo | json}}
</pre>
<br>

<h4>Investigadores en el formulario</h4>
<pre>
  
  {{grupoForm.controls.investigadores.value | json }}
</pre>
{{
  investigadores.controls
}}
