<p-toast></p-toast>
<div class="card">
    <div class="card-header text-white">
        <h2>
            {{titulo}}
        </h2>
    </div>
    <div class="card-body">
        <p-table [value]="solicitudes">
            <ng-template pTemplate="header">
                <tr>                
                    <th style="width:170px; text-align: center;"><button type="button" class="p-button-success p-button-rounded p-ai-center"
                        pButton pRipple icon="pi pi-plus" label="Nuevo"
                        [routerLink]="['/solicitud/0/editar']"></button></th>
                    <th>Estado de proyecto</th>
                    <th>Nombre del proyecto</th>
                    <th>Nombre del investigador</th>
                    <th>Nombre del grupo</th>
                    <th>Fecha</th>
                    <th>Autor</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-solicitud>
                <tr>                
                    <td style="text-align: center;">
                        <button pButton pRipple type="button" 
                        icon="pi pi-pencil" class="p-button-rounded p-button-secondary p-mr-2"
                        title="ver/editar"
                        [routerLink]="['/solicitud', solicitud.id, 'editar']"></button>
                        <button pButton pRipple type="button" *ngIf="solicitud.estado.estadoNombre === 'CREADA'"
                        icon="pi pi-check-square" class="p-button-rounded p-mr-2" 
                        title="verificar documentos"
                        (click)="verifyDocument(solicitud.id)"></button>
                        <button pButton pRipple type="button" *ngIf="solicitud.estado.estadoNombre === 'VERIFICADA'"
                        icon="pi pi-align-center" class="p-button-rounded p-button-help"
                        title="crear documentos"
                        (click)="createDocuments(solicitud.id)"></button>
                    </td>
                    <td><div *ngIf="solicitud.estado.estadoNombre === 'CREADA'">
                        <span class="badge badge-secondary">{{solicitud.estado.estadoNombre}}</span>
                    </div>
                    <div *ngIf="solicitud.estado.estadoNombre === 'VERIFICADA'">
                        <span class="badge badge-success">{{solicitud.estado.estadoNombre}}</span>
                    </div>
                    <div *ngIf="solicitud.estado.estadoNombre === 'DOCUMENTADA'">
                        <span class="badge badge-primary">{{solicitud.estado.estadoNombre}}</span>
                    </div>
                    {{solicitud.estado.estadoNombre}}
                </td>
                    <td>{{solicitud.grupoInvestigador.proyecto.nombre}}</td>
                    <td>{{solicitud.grupoInvestigador.investigador.nombre}}</td>
                    <td>{{solicitud.grupoInvestigador.grupo.nombre}}</td>
                    <td>{{solicitud.fecha | date}}</td>
                    <td>{{solicitud.user.name}}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>

</div>
<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>