<div class="d-flex">
<app-menu></app-menu>
<div class="container">
<div class="card">
    <div class="card-header">
      <h2>{{title}}</h2>
  
    </div>
    <div class="card-body">
  
      <form novalidate [formGroup]="investigadorForm" (ngSubmit)="saveInvestigador()">
  
  
        <div class="form-group row mb-2">
          <label for="nombreId" class="col-md-2 col-form-label">Nombre Investigador </label>
          <div class="col-md-8">
            <input id="nombreId" class="form-control" type="text" placeholder="Ingrese el nombre" formControlName="nombre"
              [ngClass]="{'is-invalid': (investigadorForm.get('nombre').touched || investigadorForm.get('nombre').dirty) && !investigadorForm.get('nombre').valid}">
            <span class="invalid-feedback">
              <span *ngIf="investigadorForm.get('nombre').errors?.required">
                Por favor ingrese su nombre.
              </span>
              <span *ngIf="investigadorForm.get('nombre').errors?.minlength">
                El nombre debe ser mayor de 3 letras.
              </span>
            </span>
          </div>
        </div>

        <div class="form-group row mb-2">
          <label for="identificacionId" class="col-md-2 col-form-label">Numero de Identificacion</label>
          <div class="col-md-8">
            <input id="identificacionId" class="form-control" type="text" placeholder="Ingrese el numero" formControlName="identificacion"
              [ngClass]="{'is-invalid': (investigadorForm.get('identificacion').touched || investigadorForm.get('identificacion').dirty) && !investigadorForm.get('identificacion').valid}">
            <span class="invalid-feedback">
              <span *ngIf="investigadorForm.get('identificacion').errors?.required">
                Por favor ingrese su numero de identificacion.
              </span>
            </span>
          </div>
        </div>
  
        <div class="form-group row mb-2">
          <label for="telefonoId" class="col-md-2 col-form-label">Telefono</label>
          <div class="col-md-8">
            <input id="telefonoId" class="form-control" type="text" 
                  placeholder="Ingrese el telefono" 
                  formControlName="telefono"
              [ngClass]="{'is-invalid': (investigadorForm.get('telefono').touched || investigadorForm.get('telefono').dirty) && !investigadorForm.get('telefono').valid}">
            <span class="invalid-feedback">
              <span *ngIf="investigadorForm.get('telefono').errors?.required">
                Por favor ingrese el telefono.
              </span>
            </span>
          </div>
        </div>

        <div class="form-group row mb-2">
          <label for="emailId" class="col-md-2 col-form-label">Email</label>
          <div class="col-md-8">
            <input id="emailId" class="form-control" type="email" 
                  placeholder="Ingrese el email" 
                  formControlName="email"
              [ngClass]="{'is-invalid': (investigadorForm.get('email').touched || investigadorForm.get('email').dirty) && !investigadorForm.get('email').valid}">
            <span class="invalid-feedback">
              <span *ngIf="investigadorForm.get('email').errors?.required">
                Por favor ingrese el email.
              </span>
            </span>
          </div>
        </div>
  


        <div class="form-group row mb-2">
          <div class="offset-md-2 col-md-4">
            <button class="btn btn-primary mr-3" style="width:90px;" type="submit"
              [title]="investigadorForm.valid ? 'Save your entered data' : 'Disabled until the form data is valid'">
              Enviar
            </button>
            <button class="btn btn-outline-secondary mr-3" style="width:90px;" type="button" title="Cancelar"
              [routerLink]="['/investigador']">
              Cancelar
            </button>
            <button class="btn btn-outline-warning" *ngIf="investigador.idInvestigador" style="width:90px" type="button"
              title="Borrar Investigador" (click)="deleteInvestigador()">
              Borrar
            </button>
          </div>
        </div>
  
      </form>
    </div>
  </div>
  {{investigadorForm.dirty}}: Dirty
  <br>
  {{investigadorForm.valid}}: valid
  <br>
  {{investigadorForm.touched}}: touched
  <br>
  
  {{investigadorForm.value | json}}
  <br>
  {{investigador | json}}
  <br>

  </div>
</div>